.env
*.pyc
backend/.venv
/backend/Lib
backend/pyvenv.cfg
/backend/Scripts
/backend/api/*/__pycache__
*.pyc
*.pem
*.sqlite3
/backend/venv
*.DS_Store
node_modules
/frontend/.idea
general-developer_credentials.csv
general-developer_accessKeys.csv
